name: python-flask-app 

on: 
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu:latest

  defaults:
    run:
      working-directory: .

  steps:
     - name: checkout 
       uses: actions/checkout@v4 

     - name: build
       uses: actions/setup-python@v4
       with: 
         python-version: '3.9'
         cache: 'pip'

     - name: intstall dependencies
       run: | 
          python -m pip install --upgrade
          pip install -r requirements.txt

     - name: Run test
       run: |
         pytest
          
