name: Integration-Test

on: 
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    

jobs:
    checkout-and-build:
      runs-on: ubuntu-latest
      steps:

      - name: checkout-code-base
        uses: actions/checkout@v4  

      - name: Install-node
        uses: actions/setup-node@v4
        with: 
          node-version: '20.0'
          cache: true
      - name: Install-dependencies 
        run:  npm install package.json  

    Install-postgres:
     runs-on: ubuntu-latest
     services:
       postgres:
         image: postgres:15  
         env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password 
          POSTGRES_DB: devops
         ports:
           - 5432:5432

     steps:
       - uses: actions/checkout@v4
       - name: npm test
         run: npm test
         env:
            DATABASE_URL: postgres://myuser:mypassword@localhost:5432/devops
       
